<%= form_with(model: topping_preference, local: true) do |form| %>
  <% if topping_preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topping_preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
      <% topping_preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :topping_id %>
    <%= form.number_field :topping_id %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
